.container {
    padding: var(--atomX4);
    background-color: var(--clr-space);
    min-height: 100vh;
    //width: 100vw;
    display: grid;

    //transition: width 1.3s ease-in-out, height 1.3s ease-in-out;
}
